<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav Bar </title>
</head>
<body>
    <nav id="navbar-top">
  <ul>
    <li><a href="/">HomePage</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/contact-form">Contact Form</a></li>
    <li><a href="/admin">Admin</a></li>
  </ul>
</nav>   
</body>
</html>