<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Professional Network</title>

     <!-- Styles -->
    <link rel="icon"  href="img/ficon.png">
    <link rel="stylesheet" href="stylesheet/styles.css">
</head>
<body id="homepage">
    <%- include('partials/navbar') %>
    <h1>Kate Nguyen</h1>
    <img src="img/pic.png" alt="Profile Picture" id="homepage-img">
    <p class="header">Email: <a href="mailto:nguyen.kate@student.greenriver.edu"> nguyen.kate@student.greenriver.edu</a></p>
    <p class="header">GitHub:<a href= "https://github.com/MeoMeoDestroyer" target="_blank">https://github.com/MeoMeoDestroyer</a></p>
    <p class="header">LinkedIn: <a href="https://www.linkedin.com/in/kate-nguyen-4085b3247/" target="_blank">https://www.linkedin.com/in/kate-nguyen-4085b3247/</a></p>
<br>
<br>
    <div>
        <h2>Summary</h2>
        <p> Motivated Software Development student pursuing Software Development Internship. Solid background in programming, web development and problem-solving. 
            Completing coursework focused on effective AI prompting and prompt optimization.
            Known for strong collaboration, communication, and leadership skills gained from customer-facing environments.</p>
    </div>
    <div>
        <h2>Skills</h2>
        <ul>
            <li>Languages: HTML, CSS, JavaScript, Python, C++, Java</li>
            <li>Tools: Git, GitHub, Visual Studio Code, Digital Oceans</li>
            <li>AI output Evaluation</li>
        </ul>
    </div>
    <div>
        <h2>Education</h2>
        <p>Green River College - Bachelor of Software Development<span class="year">2026 to Present</span></p>
        <p class="coursework">Relevant Coursework:</p>
        <ul>
            <li>Web Development</li>
            <li>System Programming</li>
            <li>AI and Prompt Writing Essentials</li>
            <li>Database Fundamentals</li>
            </ul>
        <p> Bellevue College - Associate of Art and Science<span class="year">2022 to 2024</span></p>
        <p class="coursework">Relevant Coursework:</p>
        <ul>
            <li>Introduction to Programming</li>
            <li>Computer Science Fundamentals</li>
            <li> Management in business II</li>
            <li>Python for Data</li>
        </ul>
    </div>
    <div>
        <h2>Experience</h2>
        <p>United States Postal Service - Driver<span class="year">2025</span></p>
        <ul>
            <li>Communicated effectively with supervisors and customers to resolve delivery issues and service inquiries.</li>
            <li>Demonstrated strong attention to details when handling sensitive mails and verifying addressees.</li>
            <li>Delivered mails and packages accurately following service standards in a fast-paced enmviroment and strict schedules.</li>
        </ul>
        
        <p>Pecos Pit BBQ - Team lead/Catering<span class="year">2022 to 2024</span></p>
        <ul>
            <li>Trained 7 employees on POS system and operational workflows.</li>
            <li>Provided attentive, professional, and friendly service to customers.</li>
            <li>Helped promote catering services and recommending solutions based on client needs.</li>
            <li>Adapted quickly under an environment with time pressure to work effectively both independently and within a team.</li>
        </ul>
        
    </div>
</body>
</html>